@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

/* .str_music
{
    width: 5px;
    height: 5px;
    position: relative;
    margin-bottom: 70px;
    cursor: pointer;
    transform-origin: left;
    transform: scaleX(1);
} */

.music_btn
{
    width: 50px;
    height: 50px;
    color: cyan;
}

.music_btn:hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.music_btn:hover,
.music_btn:focus,
.music_btn:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.play
{
    width: 70px;
    height: 50px;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: url(aot.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: aliceblue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange; 
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 1.7em;
    color: aliceblue;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}


.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after
{
    transform-origin: left;
    transform: scaleX(1);
}



.navigation .btnLogin-popup
{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    margin-left: 40px;
    transition: .35s;
}

.navigation .btnLogin-popup:hover {
    background: #ff7700;
    color: #fff;

}

.wrapper
{
    position: relative;
    width: 400px;
    height: 460px;
    background: transparent;
    border: 2px solid cyan;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    margin-top: 40px;
}

.wrapper .form-box
{
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.register
{
    position: absolute;
    transform: translateX(400px);
}
.wrapper .icon-close
{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-box h2
{
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}

.input-box 
{
    position: relative;
    width: 90%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

.input-box label 
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;

}
.input-box input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon 
{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;

}

.remember-forgot 
{
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    /* justify-content: space-between; */
}

.remember-forgot label input
{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a 
{
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover
{
    text-decoration: underline;
}


.btn 
{
    width: 100%;
    height: 45px;
    background: lime;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #080101;
    font-weight: 500;
}

.btn:hover {
    background: orange;
    color: #fff;
}

.login-register
{
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a 
{
    color: mediumslateblue;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover
{
    text-decoration: underline;
}
